*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  gap: 30px;
  margin: 133px 30px;
  inline-size: 1140px;
}

.result {
  padding-top: 78px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item:last-child {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

/* стили текстов*/

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  font-style: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(128, 128, 128, 0.5);
}

.content__video-card-title {
  display: -webkit-box;
  overflow: hidden;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 30px;
  font-style: bold;
  line-height: 100%;
  text-transform: uppercase;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content__video-card-description {
  display: -webkit-box;
  margin-top: 6px;
  overflow: hidden;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* 4. стилизация форм и их состояни*/

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin-top: 5px;
  cursor: pointer;
}

/* поле ввода*/

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  /*тут запутался, фокус работает мышью и tab*/
  outline: 2px solid #fff;
  outline-offset: 1px;
}

/*чебокс*/

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/*кнопки и их состояния*/

.button {
  margin-top: 20px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  font-style: bold;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  display: flex;
  align-self: flex-end;
  padding: 6px 73.5px;
}

.more-button {
  width: 100%;
  padding: 6px 142px;
}

.button:active {
  background-color: rgb(128 128 128);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*поехали карточки*/

.content__card-link {
  display: block;
  color: white;
  text-decoration: none;
}

.content__card-link_current {
  background-color: rgb(128 128 128);
}

.content__card-link:active {
  background-color: rgb(128 128 128);
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 3px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.content__list-container {
  position: relative;
  width: 399px;
  height: 298px;
  overflow-y: auto;
}
